body {
    text-align: center;
}

p {
    text-align: left;
    max-width: min(80%, 800px);
    display: inline-block;
    font-size: 16px;
}

.images {
    text-align: center !important;
    margin-bottom: 10px;
    margin-top: 10px;
}