body {
    text-align: center;
}

p {
    text-align: left;
    max-width: min(80%, 800px);
    display: inline-block;
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    p {
        max-width: 100% !important;
        font-size: large !important;
    }
}

.images {
    text-align: center !important;
    margin-bottom: 10px;
    margin-top: 10px;
}

nav {
    text-align: left !important;
}