body {
    text-align: center;
  }

  p {
    font-size: 20px !important;
    text-align: left;
    font-family: 'Didact Gothic', sans-serif;
  }

  .container-fluid {
    display: inline-block;
    max-width: min(70%, 1000px);
  }

  @media only screen and (max-width: 600px) {
    .container-fluid {
        max-width: 90%;
    }
  }

  nav {
    text-align: left !important;
}

.images {
  text-align: center !important;
  margin-bottom: 10px;
  margin-top: 10px;
}