body {
    text-align: center;
  }

  p {
    font-size: 20px !important;
    text-align: left;
  }

  .container-fluid {
    display: inline-block;
    max-width: min(70%, 1000px);
  }

  @media only screen and (max-width: 600px) {
    .container-fluid {
        max-width: 90%;
    }
  }